---
layout: card.njk
title: Education
tags: card
permalink: false
date: 2020-01-03
---

<article class="text-in-card">
  The University of Vermont | 2018–Present
  <ul>
    <li>Political Science</li>
    <li>French</li>
    <li>Honors College</li>
  </ul>
  Université de Caen | 2022–Present
  <ul>
    <li>Studying French exclusively at the A2/B1 level.</li>
  </ul>
</article>
