---
layout: card.njk
title: Education
tags: card
permalink: false
date: 2020-01-03
---

<article class="text-in-card">
  The University of Vermont | 2018–Present
  <ul>
    <li>Political Science</li>
    <li>Honors College</li>
  </ul>
  Université de Caen | 2022–Present
  <ul>
    <li>
      French —
      <a
        class="link"
        target="_blank"
        href="http://www.delfdalf.fr/level-b1-cefr-common-european-framework-of-reference-for-languages.html"
        >B1 level</a
      >
    </li>
  </ul>
</article>
