---
layout: default-layout
---

{% include "_head.html" %}
<div class="container">
  <section id="about">
    <a class="section-header" href="#about">
      <h2>About</h2>
      {% include "icons/chain-link.svg" %}
    </a>
    <article class="text-section">
      <p>
        It's my passion to build intuitive and exciting user experiences, and
        human-centered design is a staple in my work. I've been the principal
        developer on projects where end users include non-profits, university
        students, and the general public. See for yourself on
        <span
          ><a class="link" target="_blank" href="/assets/curriculum-verite.pdf"
            >my C.V.</a
          ></span
        >
      </p>
      <p>
        I'm interested in lightweight development with the
        <span>JAMstack</span> and its emergent intersection between front and
        back-end development. I've completed projects requiring SSG deployment,
        browser extensions, serverless functions, and serverless databases.
      </p>
      <p>
        I'm currently seeking a full-time position in France —
        <span>
          <a class="link" href="#contact">let's get in touch!</a>
        </span>
      </p>
    </article>
  </section>
  <section id="summary">
    <a class="section-header" href="#summary">
      <h2>Summary</h2>
      {% include "icons/chain-link.svg" %}
    </a>
    {# Build cards #} {%- for card in collections.card -%}
    <article class="card">
      <h3 class="card-subject">{{ card.data.title }}</h3>
      <div class="card-content">
        {{ card.templateContent | safe }}
      </div>
    </article>
    {%- endfor -%}
  </section>
  <section id="contact">
    <a class="section-header" href="#contact">
      <h2>Contact</h2>
      {% include "icons/chain-link.svg" %}
    </a>
    <article class="text-section">
      <ul class="icons-list">
        <li>
          <a
            class="icon-item link"
            target="_blank"
            href="mailto:contact@JamesTedesco.me"
          >
            <img src="/assets/icons/mail.svg" alt="" />
            <div>contact@JamesTedesco.me</div>
          </a>
        </li>
        <li>
          <a
            class="icon-item link"
            target="_blank"
            href="https://www.linkedin.com/in/james-tedesco-802/"
          >
            <img src="/assets/icons/linkedin.svg" alt="" />
            <div>/James-Tedesco-802</div>
          </a>
        </li>
        <li>
          <a
            class="icon-item link"
            target="_blank"
            href="https://github.com/JamesTedesco"
          >
            <img src="/assets/icons/github.svg" alt="" />
            <div>/JamesTedesco</div>
          </a>
        </li>
        <li>
          <a
            class="icon-item link"
            target="_blank"
            href="https://twitter.com/JamesTedesco802"
          >
            <img src="/assets/icons/twitter.svg" alt="" />
            <div>/JamesTedesco802</div>
          </a>
        </li>
      </ul>
    </article>
    <div id="successMsg">Your submission was received!</div>
    <article class="form-wrapper">
      <form
        id="form"
        class="contact-form"
        name="contact"
        method="POST"
        data-netlify="true"
        action="/#contact"
      >
        <label class="identifying-input"
          >Your Name:
          <input type="text" name="name" placeholder="ex. Alan Turing"
        /></label>
        <label class="identifying-input"
          >Your Email:
          <input
            type="email"
            name="email"
            placeholder="ex. AlanTuring@gmail.com"
        /></label>
        <label class="form-message"
          >Message:
          <textarea
            class="form-textarea"
            name="message"
            placeholder="ex. 'I love your site! Could you make me one?'"
          ></textarea>
        </label>
        <button class="submit-btn bg-gold" type="submit">Submit</button>
      </form>
    </article>
  </section>
</div>
<script src="/assets/main.js"></script>
