---
layout: default-layout
---

{% include "_head.html" %}
<div class="container">
  <section id="bio">
    <a class="section-header" href="#bio">
      {% include "icons/chain-link.svg" %}
      <h2>Bio</h2>
    </a>
    <article class="text-section">
      <p>
        I’m a developer dedicated to building digital solutions that drive positive change. My focus is on creating tech that
        supports non-profits, humanitarian causes, and social impact initiatives. By blending technical skills with a passion
        for meaningful impact, I aim to craft tools and platforms that help organizations tackle real-world challenges and make
        a lasting difference.
      </p>
      <p>
        As the principal developer on diverse projects, I've crafted solutions for non-profits, universities, and the general
        public. Feel free to get in touch if you think we might be a good fit!
      </p>
    </article>
  </section>
  <section id="summary">
    <a class="section-header" href="#technologies">
      {% include "icons/chain-link.svg" %}
      <h2>Technologies</h2>
    </a>
    {# Build cards #}
    {%- for card in collections.card -%}
      <article class="card">
        <h3 class="card-subject">{{ card.data.title }}</h3>
        <div class="card-content">
          {{ card.templateContent | safe }}
        </div>
      </article>
    {%- endfor -%}
  </section>
  <section id="links">
    <a class="section-header" href="#contact">
      {% include "icons/chain-link.svg" %}
      <h2>Links</h2>
    </a>
    <article class="text-section">
      <ul class="icons-list">
        <li>
          <a class="icon-item link" target="_blank" href="mailto:hey@jamesmit.dev">
            <img src="/assets/icons/mail.svg" alt=""/>
            <div>hey@jamesmit.dev</div>
          </a>
        </li>
        <li>
          <a class="icon-item link" target="_blank" href="https://www.linkedin.com/in/jamesmit/">
            <img src="/assets/icons/linkedin.svg" alt=""/>
            <div>/JamesMit</div>
          </a>
        </li>
        <li>
          <a class="icon-item link" target="_blank" href="https://github.com/JamesMitofsky">
            <img src="/assets/icons/github.svg" alt=""/>
            <div>/JamesMitofsky</div>
          </a>
        </li>
      </ul>
    </article>
  </section>
  <section id="contact">
    <a class="section-header" href="#contact">
      {% include "icons/chain-link.svg" %}
      <h2>Contact</h2>
    </a>
    <article class="form-wrapper">
      <form id="form" class="contact-form" name="contact" method="POST" data-netlify="true" action="/#contact">
        <label class="identifying-input">Name <input type="text" name="name" placeholder="Name"/></label>
        <label class="identifying-input">Email <input type="email" name="email" placeholder="Email"/></label>
        <label class="form-message">Message
          <textarea class="form-textarea" name="message" placeholder="ex. Let’s discuss a potential collaboration..."></textarea>
        </label>
        <button class="submit-btn bg-gold" type="submit">Submit</button>
      </form>
      <div id="successMsg">Your submission was received!</div>
    </article>
  </section>
</div>
<script src="/assets/main.js"></script>