---
layout: default-layout
---

{% include "_head.html" %}
<div class="container">
  <section id="bio">
    <a class="section-header" href="#bio">
      {% include "icons/chain-link.svg" %}
      <h2>Bio</h2>
    </a>
    <article class="text-section">
      <p>
        It's my passion to build intuitive and exciting user experiences. I've
        been the principal developer on projects where end users include
        non-profits, universities, and the general public. Take a look at my
        <span
          ><a class="link" target="_blank" href="/assets/cv.pdf">portfolio</a
          >.</span
        >
      </p>
      <p>
        More than just dynamic web-apps, I'm interested in building performant
        sites, boosting user retention. To this end, I've deployed my fair share
        of statically generated sites (SSGs). I'm currently interested in
        Next.js & Qwik.
      </p>
    </article>
  </section>
  <section id="summary">
    <a class="section-header" href="#technologies">
      {% include "icons/chain-link.svg" %}
      <h2>Technologies</h2>
    </a>
    {# Build cards #} {%- for card in collections.card -%}
    <article class="card">
      <h3 class="card-subject">{{ card.data.title }}</h3>
      <div class="card-content">
        {{ card.templateContent | safe }}
      </div>
    </article>
    {%- endfor -%}
  </section>
  <section id="links">
    <a class="section-header" href="#contact">
      {% include "icons/chain-link.svg" %}
      <h2>Links</h2>
    </a>
    <article class="text-section">
      <ul class="icons-list">
        <li>
          <a
            class="icon-item link"
            target="_blank"
            href="mailto:medev@jamesmit.dev"
          >
            <img src="/assets/icons/mail.svg" alt="" />
            <div>me@jamesmit.dev</div>
          </a>
        </li>
        <li>
          <a
            class="icon-item link"
            target="_blank"
            href="https://www.linkedin.com/in/jamesmit/"
          >
            <img src="/assets/icons/linkedin.svg" alt="" />
            <div>/JamesMit</div>
          </a>
        </li>
        <li>
          <a
            class="icon-item link"
            target="_blank"
            href="https://github.com/JamesMitofsky"
          >
            <img src="/assets/icons/github.svg" alt="" />
            <div>/JamesMitofsky</div>
          </a>
        </li>
      </ul>
    </article>
  </section>
  <section id="contact">
    <a class="section-header" href="#contact">
      {% include "icons/chain-link.svg" %}
      <h2>Contact</h2>
    </a>
    <article class="form-wrapper">
      <form
        id="form"
        class="contact-form"
        name="contact"
        method="POST"
        data-netlify="true"
        action="/#contact"
      >
        <label class="identifying-input"
          >Your Name:
          <input type="text" name="name" placeholder="ex. Alan Turing"
        /></label>
        <label class="identifying-input"
          >Your Email:
          <input
            type="email"
            name="email"
            placeholder="ex. AlanTuring@gmail.com"
        /></label>
        <label class="form-message"
          >Message:
          <textarea
            class="form-textarea"
            name="message"
            placeholder="ex. 'I love your site! Could you make me one?'"
          ></textarea>
        </label>
        <button class="submit-btn bg-gold" type="submit">Submit</button>
      </form>
      <div id="successMsg">Your submission was received!</div>
    </article>
  </section>
</div>
<script src="/assets/main.js"></script>
