---
layout: card
permalink: false
tags: card
title:
date: 2020-01-01
---

<summary class="experience-level">Experienced</summary>
<ul class="icons-list">
  <li class="icon-item">
    <img src="/assets/icons/material-ui.svg" alt="Material UI library icon" />
    <div>Material UI</div>
  </li>
  <li class="icon-item">
    <img src="/assets/icons/storybook.svg" alt="Storybook library icon" />
    <div>Storybook</div>
  </li>
  <li class="icon-item">
    <img src="/assets/icons/react.svg" alt="React icon" />
    <div>React</div>
  </li>
  <li class="icon-item">
    <img src="/assets/icons/typescript.svg" alt="TypeScript icon" />
    <div>TypeScript</div>
  </li>
</ul>
<hr />
<summary class="experience-level">Familiar</summary>
<ul class="icons-list">
  <li class="icon-item">
    <img src="/assets/icons/react-router.svg" alt="" />
    <div>React Router</div>
  </li>
  <li class="icon-item">
    <img src="/assets/icons/azure-functions.svg" alt="" />
    <div>Azure</div>
  </li>
  <li class="icon-item">
    <img src="/assets/icons/figma.svg" alt="" />
    <div>Figma</div>
  </li>
  <li class="icon-item">
    <img src="/assets/icons/firebase.svg" alt="" />
    <div>Firebase</div>
  </li>
</ul>
