<header id="home" class="header-card">
    <a class="pre-portrait" id="portrait-link" href="#home">
        <div id="portrait-shadow"></div>
    </a>

    <div id="intro-wrapper" class="general-intro-wrapper">
        <div>
            <h1 class="greeting-text">Hi, I'm James!</h1>
            <aside class="intro-text-wrapper">
                <div>Good design</div>
                <div>happens</div>
                <div>together.</div>
            </aside>
        </div>

        <div class="contact-info-wrapper">
            <a id='nudge-arrow' href="#biography">
                {% include "icons/down-arrow.svg" %}
            <div class="contact-specifics">
                <a target="_blank" href="https://github.com/JamesTedesco">
                    <img src="/assets/icons/github.svg" alt="Github icon"></a>
                <a href="#contact">
                    <img src="/assets/icons/mail.svg" alt="Email icon"></a>
            </div>
        </div>
    </div>

</header>