<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async="async"
      src="https://www.googletagmanager.com/gtag/js?id=UA-151087295-1"
    ></script>
    <script>
      // Prevent reading development environment
      if (window.location.hostname != "localhost") {
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "UA-151087295-1");
      }
    </script>
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="stylesheet" href="/assets/card-styles.css" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <!--  Favicons -->
    <link rel="icon" href="/assets/icons/favicon.svg" type="image/svg+xml" />
    <link rel="manifest" href="/assets/site.webmanifest" />
    <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.svg" />

    <!--  Shortcuts -->
    <link
      href="/favicon.ico"
      rel="shortcut icon"
      type="image/vnd.microsoft.icon"
    />

    <!-- Apple favicons -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link
      rel="apple-touch-icon"
      href="/assets/icons/apple/apple-touch-icon.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/assets/icons/apple/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/assets/icons/apple/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/assets/icons/apple/apple-touch-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/assets/icons/apple/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/assets/icons/apple/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/assets/icons/apple/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/assets/icons/apple/apple-touch-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/icons/apple/apple-touch-icon-180x180.png"
    />

    <!-- Theme color -->
    <meta name="theme-color" content="#f9e3b5" />

    <!-- Primary Meta Tags -->
    <title>Web Design By James</title>
    <meta name="title" content="Web Design By James" />
    <meta name="description" content="My personal site for web-development!" />

    <!-- Facebook & Twitter require fully declared preview image link -->
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.jamestedesco.me/" />
    <meta property="og:title" content="Web Design By James" />
    <meta
      property="og:description"
      content="My personal site for web-development!"
    />
    <meta
      property="og:image"
      content="https://www.jamestedesco.me/assets/website-preview.png"
    />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.jamestedesco.me/" />
    <meta property="twitter:title" content="Web Design By James" />
    <meta
      property="twitter:description"
      content="My personal site for web-development!"
    />
    <meta
      property="twitter:image"
      content="https://www.jamestedesco.me/assets/website-preview.png"
    />
  </head>
  {# Styling home page here #}
  <body>
    {{ content | safe }}
  </body>
</html>
