<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-151087295-1"></script>
    <script>
      // Prevent reading development environment
      if (window.location.hostname != "localhost") {
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "UA-151087295-1");
      }
    </script>
    <link rel="stylesheet" href="/assets/styles.css"/>
    <link rel="stylesheet" href="/assets/card-styles.css"/>
    <meta
    content="width=device-width, initial-scale=1" name="viewport"/> <!--  Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link
    rel="shortcut icon" href="/assets/favicons/favicon.ico"> <!-- Theme color -->
    <meta
    name="theme-color" content="hsl(40deg 100% 80%)"/>
    <!-- Primary Meta Tags -->
    <title>James Mitofsky – Building Tech for Impact</title>
    <meta name="title" content="James Mitofsky – Building Tech for Impact"/>
    <meta
      name="description"
      content="I’m a developer dedicated to building digital solutions that drive positive change. My focus is on creating tech
        that supports non-profits, humanitarian causes, and social impact initiatives. By blending technical skills with a
        passion for meaningful impact, I aim to craft tools and platforms that help organizations tackle real-world challenges
        and make a lasting difference."/> <!-- Facebook & Twitter require fully declared preview image link -->
    <!-- Open Graph / Facebook --> <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.jamesmit.dev/"/>
    <meta property="og:title" content="James Mitofsky – Building Tech for Impact"/>
    <meta
      property="og:description"
      content="I’m a developer dedicated to building digital solutions that drive positive change. My focus is on creating tech
        that supports non-profits, humanitarian causes, and social impact initiatives. By blending technical skills with a
        passion for meaningful impact, I aim to craft tools and platforms that help organizations tackle real-world challenges
        and make a lasting difference."/>
    <meta
    property="og:image" content="https://www.jamesmit.dev/assets/website-preview-06-22.png"/> <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" content="https://www.jamesmit.dev/"/>
    <meta property="twitter:title" content="James Mitofsky – Building Tech for Impact"/>
    <meta
      property="twitter:description"
      content="I’m a developer dedicated to building digital solutions that drive positive change. My focus is on creating tech
        that supports non-profits, humanitarian causes, and social impact initiatives. By blending technical skills with a
        passion for meaningful impact, I aim to craft tools and platforms that help organizations tackle real-world challenges
        and make a lasting difference."/>
    <meta property="twitter:image" content="https://www.jamesmit.dev/assets/website-preview-06-22.png"/>
  </head>
  {# Styling home page here #}
  <body>
    {{ content | safe }}
  </body>
</html>